<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feature</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap" rel="stylesheet">

</head>

<body>
    <div class="containers">
        <nav class="navigationBar">
            <h5>
                <a href="home">Home</a> |
                <a href="projects">Projects</a> |
                @* <a href="resume">Resume</a> | *@
                Features
            </h5>
        </nav>
        <div class="topFeature-box">
            <h2 style="text-align:center;">add C# skill stuff here</h2>
            <h4 style="text-align:center;">quizzes</h4>
            <h4 style="text-align:center;">games</h4>
            <h4 style="text-align:center;"></h4>
        </div>
    </div>
    <footer>
        <h4 style="font-family: 'Akaya Kanadaka', cursive;
    text-align: center;">Made with C# ASP.NET</h4> 
    </footer>
</body>

</html>