<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="~/css/style.css"/>

    @*  *@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap" rel="stylesheet">
</head>

<body>
    <div class="containers">
        <nav class="navigationBar">
            <h5>Home | 
                <a href="projects">Projects</a> |
                @* <a href="resume">Resume</a> | *@
                <a href="features">Features</a>
            </h5>
        </nav>
        <div class="topSide-box">
            <div class="profile-heading">
                <img src="~/img/city_profile_pic.png" alt="Profile Picture" class="profilePic">
                <div class="info-detail">
                    <h3>VicG</h3>
                    <h3>Seattle, Wa</h3>
                    <h3>MeloVicG41@gmail.com</h3>
                </div>
            </div>
        </div>

        <div class="summaries">
            <h2>Summary / Goals</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et beatae perferendis laboriosam nulla! Atque porro, nobis quidem maiores iure rerum adipisci aliquid ullam in aspernatur repellat tenetur? Perferendis, quis ullam.</p>
        </div>
<footer>
    <h4 style="font-family: 'Akaya Kanadaka', cursive;
    text-align: center;">Made with C# ASP.NET</h4>
</footer>
    </div>
</body>
</html>