<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap" rel="stylesheet">
</head>

<body>
    <div class="containers">
        <nav class="navigationBar">
            <h5>Home | 
                <a href="projects">Projects</a> |
                <a href="resume">Resume</a> 
                @* <a href="features">Features</a> *@
            </h5>
        </nav>
        <div class="topSide-box">
            <div class="profile-heading">
                <img src="~/img/city_profile_pic.png" alt="Profile Picture" class="profilePic">
                <div class="info-detail">
                    <h3>VicG</h3>
                    <h3>Seattle, Wa</h3>
                    <h3>MeloVicG41@gmail.com</h3>
                    <section>
                        <img src="~/img/html_logo.png" alt="html_logo" style="width:7%">
                        <img src="~/img/css_logo.jpg" alt="css_logo" style="width:7%">
                        <img src="~/img/js_logo.jpg" alt="js_logo" style="width:7%">
                        <img src="~/img/mysql_logo.png" alt="js_logo" style="width:13%">
                    </section>
                    <section>
                        <img src="~/img/python_logo.jpg" alt="python_logo" style="width:9%">
                        <img src="~/img/flask_logo.png" alt="flask_logo" style="width:11%">
                        <img src="~/img/django_logo.png" alt="django_logo" style="width:12%">
                    </section>
                    <section>
                        <img src="~/img/react_logo.png" alt="react_logo" style="width:7%">
                        <img src="~/img/mongoDB_logo.png" alt="mongo_logo" style="width:7%">
                        <img src="~/img/nodejs_logo.jpg" alt="node_logo" style="width:7%">
                    </section>
                    <section>
                        <img src="~/img/csharp_logo.png" alt="csharp_logo" style="width:7%">
                        <img src="~/img/aspnet_logo.png" alt="aspnet_logo" style="width:9%">
                        <img src="~/img/github_logo.png" alt="github_logo" style="width:9%">
                        <img src="~/img/Sass_logo.png" alt="github_logo" style="width:9%">
                    </section>
                    
                    
                    
                </div>
                    <div class="logoSection">
                </div>
            </div>
        </div>

        <div>
            <div class="summaries">
                <h2 class="summariesTitle">Summary / Goals</h2>
            </div>
            <p class="summariesText">I am a 6 year U.S. Navy Veteran and I love coding.
                I enjoy the process of creation because you get what you put into it. I have a limited experience of coding
                but I have great mentors to help guide my knowledge in the developers field. I look forward
                to my new adventure and challenges in the coding industry and the network of people I will be meeting.
                Cheers!
            </p>
        </div>
        <div class="hobbies">
            <div class="hobbiesTitle"><h2>Hobbies</h2></div>
            <p class="hobbiesText">Im a Big Fitness Fanatic, I Enjoy Working on the human body as a form of art.
                Sports is a topic I love discussing about. Football and Volleyball are my go to choices.
                I am also an Amateur Music Producer. I enjoy grabbing all types of different sounds and mixing them together to get the final result.
                Lastly I also keep a close eye on the stock market, I put my money where my mouth is through my own research, and let fate decide if Im right or wrong.
                I am looking to pick up MMA training as another art form to enjoy.
            </p>
        </div>



<footer >
    <h4 style="font-family: 'Akaya Kanadaka', cursive;
    text-align: center;">Made with C# ASP.NET</h4>
</footer>
    </div>
</body>
</html>