<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap" rel="stylesheet">

</head>

<body>
    <div class="containers">
        <nav class="navigationBar">
            <h5>
                <a href="home">Home</a> |
                Projects |
                @* <a href="resume">Resume</a> | *@
                <a href="features">Features</a>
            </h5>
        </nav>
        <h1>need to put model of projects here </h1>
        <div class="topProject-box">
            <div class="projectSummary">
                <h3>alinks go here for project title - forloop looping through projects</h3>
                <p>Project Summary here Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint pariatur natus
                    harum blanditiis explicabo nisi tempore illum illo perferendis quod deleniti suscipit ipsum placeat
                    quibusdam laborum, beatae numquam facilis tempora!</p>
            </div>
            <img style="width:30%; margin-right:150px; border-radius:10px;" src="~/img/starwars_api_pic.png" alt="project image" class="projectPic">
        </div>

    </div>
    <footer>
        <h4 style="font-family: 'Akaya Kanadaka', cursive;
    text-align: center;">Made with C# ASP.NET</h4> 
    </footer>
</body>

</html>