<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <div class="containers">
        <nav class="navigationBar">
            <h5>
                <a href="/">Home</a> |
                <a href="projects">Projects</a> |
                Resume 
                
            </h5>
        </nav>

        <div class="fill-out">
            <h3 style="margin-left:100px; 
            background-color:rgb(3,102,214); 
            margin-right:770px; color:white; 
            border:black 2px solid; 
            text-align:center; ">Tech Skills</h3>
            <ul style="margin-left:150px">
                <li>Languages[JavaScript, Python, C#, HTML, CSS, SaSS]</li>
                <li>Frameworks[React, ASP.NET, Django, Flask, Express, NodeJS]</li>
                <li>Database[MySQL, SQLite, MongoDB, Mongoose]</li>
                <li>Others[Bootstrap, MaterialUI, Framer]</li>
            </ul>

            <h3 style="margin-left:100px; 
            background-color:rgb(3,102,214); 
            margin-right:770px; color:white; 
            border:black 2px solid; 
            text-align:center;">Tech Experience</h3>
            <ul style="margin-left:150px">
                <li style="list-style: none"><h5> Latinos Auto Electric (current)– Full Stack app built in React</h5></li>
                <li>Manage project requirements communicating with client, designed features and wireframe, assigning tasks, coordinating project, and overseeing GitHub collaboration</li>
                <li>Using SQL database setting appointments for customers utilizing Sequelize</li>
                <li>Integrated google maps API, EmailJS, and Calender-React</li>
                <li>Deployed with Azure</li>
                <li>Styled front-end utilizing SASS</li>
            </ul>
            <ul style="margin-left:150px">
                <li style="list-style: none"><h5> Star Wars Profile – Full Stack app built in MERN </h5></li>
                <li>Leveraged two databases onto one platform designing all models and writing API CRUD commands Implemented RESTful APIs</li>
                <li>Utilizing third party API using axios to visually display characters</li>
                <li>Styled front-end with CSS and Material UI and third-party framer library for animated effects</li>
            </ul>
            <ul style="margin-left:150px">
                <li style="list-style: none"><h5> PortFolio – FrontEnd built in C#</h5></li>
                <li>Building with CSHTML and CSS to display profile, languages, goals, and other features</li>
                <li>Operating with ASP.NET storing profile for all deployed projects</li>
            </ul>

            <h3 style="margin-left:100px; 
            background-color:rgb(3,102,214); 
            margin-right:770px; color:white; 
            border:black 2px solid; 
            text-align:center; ">Work Experience</h3>
            <ul style="margin-left:150px">
                <li style="list-style: none"><h5> Full Stack Web Developer | Coding Dojo | 11/2020 – present  </h5></li>
                <li>·	Understand the fundamentals of each language</li>
                <li>·	Accomplished team building group exercises on assignments and projects</li>
                <li>·	·	Exercise whiteboard algorithms on daily basis</li>
            </ul>
            <ul style="margin-left:150px">
                <li style="list-style: none"><h5> Culinary Specialist | US NAVY | 03/2011 – 02/2017 </h5></li>
                <li>Trained, Consulted, and Coordinated 100 plus Food Service Assistants</li>
                <li>Responsible for the operation of the dining facility and keeping records for food supplies and budgets.</li>
                <li>Planned and Organized meals for high-ranking officials.</li>
            </ul>
            <ul style="margin-left:150px">
                <li style="list-style: none"><h5> Bulk Storeroom Manager | US Navy | 10/2011 – 04/2013   </h5></li>
                <li>Negotiated terms and conditions with new and existing partners to increase relationships local and overseas</li>
                <li>conducted inventory audit and purchase order management, maintaining 100% accountability.</li>
                <li>Maintained 3 storerooms of dry, chill, & frozen of approximately 250,000 line items at sea and shore. .</li>
            </ul>
            <ul style="margin-left:150px;">
                <li style="list-style: none"><h5> Market Campaign Manager | Seattle Promotional Management | 09/2019 – 03/2020  </h5></li>
                <li>Successfully completed Systems Training Course to effectively carry out job responsibilities</li>
                <li>Managed multiple campaigns with partnered companies to promote products</li>
                <li>Launched a successful campaign building a relationship with new partners to ensure trust.</li>
                <li>Traveled across U.S. to broaden campaign territory</li>
            </ul>
            <h3 style="margin-left:100px; 
            background-color:rgb(3,102,214); 
            margin-right:770px; color:white; 
            border:black 2px solid; 
            text-align:center; ">Education</h3>
            <ul style="margin-left:150px">
                <li style="display:flex"><h6>Coding Dojo</h6> - Full Stack Web Developer Certification &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Nov 2020 - Mar 2021</li>
                <li style="display:flex"><h6>Seattle Central College</h6> - Associates of Business Administration &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2018 - 2019</li>
                <li style="display:flex"><h6>NASM</h6> - Certified Personal Trainer &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2017 - 2019</li>
            </ul>
            <h3 style="margin-left:100px; 
            background-color:rgb(3,102,214); 
            margin-right:770px; color:white; 
            border:black 2px solid; 
            text-align:center; ">Interests</h3>
            <ul style="margin-left:150px">
                <li style="display:flex">Coding | Stocks | Music Production | Fitness | Economics |  Culture | Hiking | Cooking | Learning</li>
            </ul>
        </div>

        @* <form action="/" method="post">
            <div>
                <label>Email</label>
                <input type="text" asp-for="Email">
            </div>
            <div>
                <label >Comments:</label>
                <input type="textarea" asp-for="Comments">
            </div>
        </form> *@
        
    </div>

    <footer>
        <h4 style="font-family: 'Akaya Kanadaka', cursive;
        text-align: center;">Made with C# ASP.NET</h4>
    </footer>
</body>

</html>